/* Write your CSS code here */
.size1 {
  height: 450px;
  width: 600px;
  margin-left: 50px;
}

.para {
  width: 500px;
  margin-top: 50px;
  font-size: 30px;
  color: grey;
}

.con6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 100px;
}

.con7 {
  margin-right: 50px;
}

.but {
  background-color: #0967d2;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  color: white;
}
